body{
    background-color: rgb(41, 40, 40);
    color: rgb(60, 219, 179);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#um{
    color: rgb(251, 255, 0);
}
#dois{
    color: rgb(206, 137, 252);
}